<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant ala aryo">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="/images/heros/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Bren Resto</title>
</head>
<body>
    <a href="#mainContent" class="skip-link" tabindex="0">Tap Disini Jika Ingin Menuju Ke Menu Utama</a>

<header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburger-Button">☰</button>
        <label for="hamburger-Button">Ini Hamburger Button ya</label>
    </div>
    <div class="resto_inner">
        <h1  tabindex="0"> Bren Resto Pekanbaru </h1> 
    </div>
    <nav id="navigationDrawer" class="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/iqbalfebrenh23">About Us</a></li>
        </ul>
    </nav>
  </header>

    <div tabindex="0" class="hero">
        <div class="hero__inner">
            <h2 class="hero_head" tabindex="0">Sajian Resto Terbaik Dari KAmi :V</h2>
            <p class="hero_sub" tabindex="0">Jelajah Resto Pilihanmu Disini</p>
            <picture>
                <source media="(max-width: 600px)" srcset="./images/hero-image_4-small.jpg">
                <img src="./images/hero-image_4-large.jpg" alt="hero image" tabindex="0">
            </picture>
        </div>
    </div> 
      
    
<main id="mainContent" tabindex="0"></main>
</body>
<footer>
    <p tabindex="0">Copyright © 2022 - Bren Resto </p>
</footer>
</html>
